{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
  {% if form.instance.pk %}
    Update Project
  {% else %}
    Create Project
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">
      {% if form.instance.pk %}
        Update Project
      {% else %}
        Create Project
      {% endif %}
    </h2>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-sm btn-outline-primary">Create</button>
      <a href="{% url 'main:projects:project-list' %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
