{% extends "base_old.html" %}
{% load crispy_forms_filters %}

{% block title %}
  {% if form.instance.pk %}
    Update Task
  {% else %}
    Create Task
  {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="card-title">
        {% if form.instance.pk %}
          Update Task
        {% else %}
          Create New Task
        {% endif %}
      </h4>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-primary">
          {% if form.instance.pk %}
            Update
          {% else %}
            Create
          {% endif %}
        </button>
        <a href="{% url 'main:task-list' %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
